<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/spring-context-3.2.xsd">

    <context:property-placeholder location="/WEB-INF/jdbc.properties"/>

    <!--<beans:bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
        <!--<beans:property name="location" value="/WEB-INF/jdbc.properties"/>-->
        <!--<beans:property name="fileEncoding" value="UTF-8"/>-->
    <!--</beans:bean>-->



</beans>